.profiles {
  padding: .5rem;
  margin: 1rem .5rem;
}

.profiles > .columns {
  padding: .5rem;
}

.profiles .profile {
  padding: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}

.profiles .profile .field.profile-title {
  padding: 0 0 1rem;
  border-bottom: 4px solid #b5b5b5;
  margin: 0 0 1.75rem;
}

.profiles .profile .field.profile-title:not(:first-child) {
  margin: 1.75rem 0;
}

figure.image {
  transition: all .5s;
  max-width: 100%;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card {
  border-radius: .5rem;
}

.card:hover figure.image img {
  opacity: .75;
}

.card .card-image {
  overflow: hidden;
}

.card .card-image img {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  object-fit: cover;
}

.card .card-image .score {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5rem;
  text-shadow: 1px 1px 0 rgba(0,0,0,.35);
  background: rgba(10,10,10,.1);
  border-top-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.card .card-image .specs {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .5rem;
  text-shadow: 1px 1px 0 rgba(0,0,0,.35);
  background: rgba(10,10,10,.1);
  border-top-left-radius: .5rem;
}

.card-content {
  padding: 0;
}

.card-content .media,
.card-content .content {
  padding: 1rem;
}

.card-content .media {
  border-bottom: 2px solid #b5b5b5;
  margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: unset;
  }
}

@media screen and (min-width: 769px) {
  .profiles .column.is-full .profile {
    margin-top: 0;
  }
}
