.object-cover {
  object-fit: cover;
}

.image.user-profile {
  margin: -64px auto 0;
  border-radius: 50%;
}

.image.user-profile img {
  padding: 5px;
  background: #242424;
}

.profiles {
  padding: .5rem;
  margin: 1rem .5rem;
}

.profiles > .columns {
  padding: .5rem;
}

.profiles .profile {
  padding: 1.5rem;
  background: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
}

.profiles .profile .field.profile-title {
  padding: 0 0 1rem;
  border-bottom: 4px solid #b5b5b5;
  margin: 0 0 1.75rem;
}

.profiles .profile .field.profile-title:not(:first-child) {
  margin: 1.75rem 0;
}

@media screen and (max-width: 768px) {
  .image.is-128x128 {
    width: 96px;
    height: 96px;
  }

  .image.user-cover {
    padding-top: 50%;
  }

  .image.user-profile {
    margin: -48px auto 0;
  }

  .image.user-profile img {
    padding: 2.5px;
  }
}

@media screen and (min-width: 769px) {
  .profiles .column.is-full .profile {
    margin-top: 0;
  }
}
