<nav class="navbar has-background-grey-darker is-fixed-top" role="navigation" aria-label="main navigation" dt-home="{{ url['site'] }}">
  <div class="navbar-brand">
    <a class="navbar-item site-title is-size-4 has-text-weight-bold has-text-grey-light" href="{{ url['site'] }}">
      <span class="has-text-white-bis has-text-weight-bold">#jodoh</span>malang
    </a>

    {% if is_login %}
    <a role="button" class="navbar-burger has-text-grey-lighter" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    {% else %}
    <div class="navbar-item navbar-profile">
      <div class="buttons">
        <a href="{{ login_url }}" class="button is-info is-size-7-touch">
          Profil Saya
        </a>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="navbar-menu has-background-grey-darker" id="navMenu">
    {{ navbar_start | raw  }}
    {{ navbar_end | raw  }}
  </div>
</nav>
