<section class="section has-background-black-ter">
  <div class="container">
    <div class="filter-groups hide">
      <div class="profiles">
        <div class="columns is-multiline has-background-grey-darker">
          <div class="column is-half">
            <div class="profile has-background-grey-dark">
              <div class="field profile-title religion has-text-centered">
                <label class="label has-text-grey-lighter">Kepercayaan</label>
                <p class="help has-text-grey-light">
                  Pilih sesuai dengan kepercayaan yang kamu inginkan
                </p>
              </div>

              <div class="columns is-multiline is-centered is-mobile filter-group" dt-group="religion">
                {% for k,v in religion %}
                  <div class="column is-narrow pointer">
                    <div class="filter has-text-grey-light is-size-7-touch" dt-id="{{ k }}">
                      {{ v }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="column is-half">
            <div class="profile has-background-grey-dark">
              <div class="field profile-title gender has-text-centered">
                <label class="label has-text-grey-lighter">Jenis Kelamin</label>
                <p class="help has-text-grey-light">
                  Pilih diantara 2 pilihan berikut.
                </p>
              </div>

              <div class="columns is-multiline is-centered is-mobile filter-group" dt-group="gender">
                {% for k,v in gender %}
                  <div class="column is-narrow pointer">
                    <div class="filter has-text-grey-light is-size-7-touch" dt-id="{{ k }}">
                      {{ v }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>

          <div class="column is-full">
            <div class="profile has-background-grey-dark">
              <div class="field profile-title has-text-centered">
                <label class="label has-text-grey-lighter">Karakter</label>
                <p class="help has-text-grey-light">
                  Urutan pemilihan berpengaruh pada saat hasil pilihan
                </p>
              </div>

              <div class="columns is-multiline is-centered is-mobile filter-group" dt-group="character">
                {% for c in character %}
                  <div class="column is-narrow pointer">
                    <div class="filter has-text-grey-light is-size-7-touch" dt-id="{{ c.id }}" dt-order="{{ c.order }}">
                      {{ c.name }}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column has-text-right">
        <a class="button is-link is-size-7-touch button-filter">
          <span class="icon">
            <i class="fas fa-search"></i>
          </span>
          <span>Pencarian</span>
        </a>
      </div>
    </div>

    <div class="columns is-multiline is-centered user" dt-url="{{ url['site'] }}home/user">
      {{ list | raw }}
    </div>
  </div>
</section>
