<section class="section has-background-black-ter">
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure class="image user-cover is-3by1">
          <img class="object-cover" src="{{ image['banner'] }}">
        </figure>
        <figure class="image user-profile is-128x128">
          <img class="is-rounded" src="{{ image['profile'] }}">
        </figure>
      </div>
    </div>

    <div class="profiles">
      <div class="columns is-multiline has-background-grey-darker">
        <div class="column is-half">
          <div class="profile has-background-grey-dark">
            <div class="field profile-title physics has-text-centered">
              <label class="label has-text-grey-lighter">Postur</label>
              <p class="help has-text-grey-light">
                Isi sesuai dengan kondisi terbaru.
              </p>
            </div>

            <div class="columns">
              <div class="column">
                <div class="field">
                  <div class="control">
                    <input class="input numeral" name="height" type="text" placeholder="Tinggi" value="{{ height }}">
                  </div>
                  <p class="help has-text-grey-light">
                    Tinggi Badan (cm).
                  </p>
                </div>
              </div>

              <div class="column">
                <div class="field">
                  <div class="control">
                    <input class="input numeral" name="weight" type="text" placeholder="Berat" value="{{ weight }}">
                  </div>
                  <p class="help has-text-grey-light">
                    Berat Badan (kg).
                  </p>
                </div>
              </div>
            </div>

            <div class="field profile-title birthdate has-text-centered">
              <label class="label has-text-grey-lighter">Tanggal Lahir</label>
              <p class="help has-text-grey-light">
                Usia minimum adalah 17 tahun.
              </p>
            </div>

            <div class="field">
              <div class="control">
                <input class="input" name="birthdate" type="text" placeholder="Tanggal Lahir" value="{{ birthdate }}" readonly>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-half">
          <div class="profile has-background-grey-dark">
            <div class="field profile-title religion has-text-centered">
              <label class="label has-text-grey-lighter">Kepercayaan</label>
              <p class="help has-text-grey-light">
                Pilih sesuai dengan kepercayaanmu.
              </p>
            </div>

            <div class="columns is-multiline is-centered is-mobile filter-group" dt-group="religion">
              {% for k,v in religion %}
                <div class="column is-narrow pointer">
                  <div class="filter has-text-grey-light is-size-7-touch" dt-id="{{ k }}" dt-selected="{{ v.selected }}">
                    {{ v.text }}
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="field profile-title gender has-text-centered">
              <label class="label has-text-grey-lighter">Jenis Kelamin</label>
              <p class="help has-text-grey-light">
                Pilih diantara 2 pilihan berikut.
              </p>
            </div>

            <div class="columns is-multiline is-centered is-mobile filter-group" dt-group="gender">
              {% for k,v in gender %}
                <div class="column is-narrow pointer">
                  <div class="filter has-text-grey-light is-size-7-touch" dt-id="{{ k }}" dt-selected="{{ v.selected }}">
                    {{ v.text }}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="column is-full">
          <div class="profile has-background-grey-dark">
            <div class="field profile-title character has-text-centered">
              <label class="label has-text-grey-lighter">Karakter</label>
              <p class="help has-text-grey-light">
                Masukkan 5 karakter kamu .. Urutkan berdasarkan kepribadian yang paling cocok denganmu.<br>
                *) Urutan pemilihan berpengaruh pada saat hasil pilihan Pengguna
              </p>
            </div>

            <div class="columns is-multiline is-centered is-mobile filter-group" dt-group="character">
              {% for c in character %}
                <div class="column is-narrow pointer">
                  <div class="filter has-text-grey-light is-size-7-touch" dt-id="{{ c.id }}" dt-order="{{ c.order }}">
                    {{ c.name }}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="columns is-mobile">
      <div class="column">
      </div>
      <div class="column is-narrow">
        <div class="field is-grouped">
          {% if active %}
          <div class="control">
            <a class="button is-danger is-outlined button-delete" href="{{ url['site'] }}profile/delete">
              <span class="icon">
                <i class="far fa-trash-alt"></i>
              </span>
              <span>Hapus Akun</span>
            </a>
          </div>

          <div class="control">
            <a class="button is-link button-save" dt-url="{{ url['site'] }}profile/character">
              <span class="icon">
                <i class="far fa-save"></i>
              </span>
              <span>Simpan</span>
            </a>
          </div>
          {% else %}
          <div class="control">
            <a class="button is-link is-outlined button-save" dt-url="{{ url['site'] }}profile/character">
              <span class="icon">
                <i class="fas fa-check"></i>
              </span>
              <span>Aktivasi Akun</span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
