<div class="navbar-end">
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link has-background-grey-darker has-text-grey-lighter is-arrowless is-size-7-mobile" href="{{ url['site'] }}profile/">
      <img class="is-rounded" src="{{ image['profile'] }}" width="28" height="28">&nbsp;{{ name }}
    </a>

    <div class="navbar-dropdown has-background-grey-darker is-right">
        <a class="navbar-item has-background-grey-darker has-text-danger is-size-7-mobile" href="{{ url['site'] }}profile/sign_out">
            <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
            </span>
            <span>Keluar</span>
        </a>
    </div>
  </div>
</div>
