<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <a href="{{ login_url }}" class="button is-info is-size-7-touch">
        Profil Saya
      </a>
    </div>
  </div>
</div>
