@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');

html {
  overflow: auto;
}

.navbar-brand .navbar-item.site-title {
  font-family: 'Gochi Hand', cursive;
}

.section {
  margin-top: 1.75rem;
  min-height: calc(100vh - 1.75rem);
}

.pointer {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.hide {
  display: none;
}

.filter-group .column {
  padding: .15rem;
}

.filter {
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  transition: all .25s;
}

.filter.active {
  background-color: #242424;
  color: white;
}

.navbar-menu img.is-rounded {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: .5rem;
}

@media screen and (max-width: 1215px) {
  .navbar-profile {
    margin-left: auto;
  }
}

@media screen and (min-width: 1216px) {
  .navbar-profile {
    display: none;
  }
}
