{% spaceless %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ title | raw  }}</title>
    <meta name="description" content="{{ description | raw  }}">

    <meta property="og:url" content="{{ url['site'] }}" />
    <meta property="og:title" content="{{ title | raw  }}" />
    <meta property="og:description" content="{{ description | raw  }}" />
    <meta property="og:image" content="{{ url['asset'] }}resources/image/icon/android-icon-192x192.png" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@ardhyaharsa" />
    <meta name="twitter:creator" content="@ardhyaharsa" />
    <meta name="twitter:title" content="{{ title | raw  }}" />
    <meta name="twitter:description" content="{{ description | raw  }}" />
    <meta name="twitter:image" content="{{ url['asset'] }}resources/image/icon/android-icon-192x192.png" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url['asset'] }}resources/image/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url['asset'] }}resources/image/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url['asset'] }}resources/image/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url['asset'] }}resources/image/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url['asset'] }}resources/image/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url['asset'] }}resources/image/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url['asset'] }}resources/image/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url['asset'] }}resources/image/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url['asset'] }}resources/image/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ url['asset'] }}resources/image/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url['asset'] }}resources/image/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url['asset'] }}resources/image/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url['asset'] }}resources/image/icon/favicon-16x16.png">
    <link rel="manifest" href="{{ url['asset'] }}resources/image/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url['asset'] }}resources/image/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {{ custom_css | raw  }}
  </head>
  <body>
    {{ header | raw  }}
    {{ content | raw  }}
    {{ footer | raw  }}

    {{ custom_js | raw  }}
  </body>
</html>
{% endspaceless %}
