<div class="column hide">
  <a href="#" target="_blank">
    <div class="card has-background-grey-darker">
      <div class="card-image">
        <figure class="image is-4by3">
          <img>
        </figure>
        <span class="score has-text-light has-text-weight-bold"></span>
        <span class="specs has-text-light has-text-weight-semibold is-size-7 has-text-right"></span>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title has-text-grey-lighter is-5"></p>
            <p class="subtitle has-text-grey-light is-7">
              <span></span>
            </p>
          </div>
        </div>

        <div class="content has-text-grey-light is-size-7">
        </div>
      </div>
    </div>
  </a>
</div>
